.main-box {
	background-color: white;
	width: 500px;
	height: 250px;
	margin: 100px auto;
	text-align: center;
	border-radius: 50px;
}

#previous-section {
	display: none;
}

#previous-swatch {
	margin: 0 auto;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	line-height: 60px;
	position: relative;
	font-size: 12px;
	cursor: pointer;
}